<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
        {% load staticfiles %}
        <link rel="stylesheet" media="screen,projection" type="text/css" href="{% static "css/style.css" %}">
    </head>
    <body>
        <div id="header_part">
            {% block header %}
               <div class="title">Welcome to "manožodynas"</div>
            {% endblock %}
        </div>
        <div id="middle_part">
            {% block middle %} No content {% endblock %}
         </div>

        <div id="footer_part">
            <div>{% block footer %} Default footer {% endblock %}</div>
        </div>

    </body>
</html>
